# Python
backend/.venv/
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/*/*/*/__pycache__/
*.py[cod]
*$py.class
*.db
*.sqlite3

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.turbo/

# Environment variables
.env
backend/.env
frontend/.env
frontend/.env.local

# Operating System / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
